body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

.flexCardContainer {
  display: flex;
  flex-flow: row wrap;
}
.flexCard{
  flex: 1;
  padding: 10px;
}

.homeHeader {
    padding: 10px;
    text-align: center;
    background: #467DF3;
    color: white;
}

.homeRow {  /* Column container */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 100px;
}

.homeSide {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 10px;
}

/* Main column */
.homeMain {
    flex: 60%;
    background-color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
}


/* Footer */
.homeFooter {
    padding: 0px;
    text-align: center;
    background: #ddd;
}
